---
layout: default
---

<body>

    <div class="container-fluid bg-light">
        <nav class="navbar container navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> <img src="{{ site.baseurl }}/assets/images/ee4m-logo.png" alt="Logo"
                        style="width: 8rem; height: 5rem;" />
                </a>
                <button class="btn  btn-small" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Introduction to Operation
                                Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logistics and Supply Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Product Development and Manufacturing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Enterpreneurship and Industrial Marketing Management</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



    <div class="container my-5">
        <main>
            <article class="mb-5 pb-3">
                {{ content }}
            </article>
        </main>
    </div>


</body>